@import url('https://fonts.googleapis.com/css?family=Montserrat|Shrikhand');
@import 'https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext,latin-ext';
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: azure;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-flow: column nowrap;
}

h1,
h2,
h5,
label {
    font-family: 'Shrikhand', cursive;
}

h1 {
    font-size: 7em;
    color: white;
    width: 80vw;
}

h2 {
    margin: 3rem 0 1rem 0;
    width: 90vw;
    font-size: 3em
}

h3 {
    font-size: 1.75em;
    color: deeppink;
}

h4,
h5 {
    font-size: 1.5em;
    line-height: .75em;
}

h5 {
    color: magenta;
}

h4 {
    margin-top: 1rem;
}

h4 a:link,
a:visited {
    color: deeppink;
}

h4 a:hover {
    color: purple;
}

a {
    text-decoration: none;
    color: deeppink;
}

ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;
    justify-content: flex-start;
}


/* HEADER */

header {
    width: 90vw;
    margin-top: 5vh;
    align-self: center;
    justify-content: space-between;
    
}

nav {
    display: flex;
    width: 90vw;
    align-self: center;
    margin-bottom: 5vh;
}

.left {
    width: 20%;
    display: flex;
    align-items: center;
    text-align: left;
}
.home_icon {
    height: 10vh;
}
.center {
    width: 80vw;
}
.right {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: .8rem;
}
.cart_icon {
    height: 5vh;
    margin-bottom: 1rem;
}


/* BASIC PAGE STYLES */

.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: relative;
    background: cyan;
    height: 25vh;
}

.container::after {
    position: absolute;
    bottom: -50px;
    left: 0px;
    width: 100%;
    content: " ";
    background: radial-gradient(circle at 50% 0%, cyan 29%, darkturquoise 6%, azure 35%);
    background-color: azure;
    background-size: 5em 10em;
    height: 5em;
    background-repeat: repeat-x;
}

.content {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: center;
    align-self: center;
    padding: 0 5rem 10rem 5rem;
}

.crumbs {
    width: 90vw;
    height: 10vh;
    text-align: left;
}


/* ALL ITEMS PAGE */

.item_display {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: space-around;
    text-align: center;
    width: 35vh;
    border-radius: 2em;
    background-color: azure;
    margin: 0;
    padding: 1rem;
}

.item_display img {
    height: 30vh;
    filter: drop-shadow(2px 3px 2px lightgrey);
}

.item_price {
    color: darkblue;
    align-self: center;
    font-size: 1.5rem;
    padding: 0;
    margin: 1rem 0 0 0;
}


/* PRODUCT PAGE */

.product_page {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 90vw;
}

.product_specs {
    display: flex;
    flex-flow: column nowrap;
    width: 40%;
}

.product_page img {
    height: 60vh;
    margin: 2em;
}

.item_description {
    font-size: 1.5rem;
    width: 20%;
    
}


/* CART PAGE */

.cart_header {
    font-size: 1.25em;
    line-height: 2em;
}

.shopping_cart {
    display: flex;
    flex-flow: column nowrap;
    width: 60vw;
}

.product_row {
    height: 4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.empty_cart {
    width: 95vw;
    text-align: right;
}

.empty_cart a:link {
    font-size: .5em;
}

.cart_form {
    display: flex;
    flex-flow: column nowrap;
    text-align: left;
}

.name,
.price,
.quantity,
.calc_price {
    width: 10vw;
    text-align: left;
}

.total {
    width: 40vw;
    line-height: 3em;
    text-align: right;
}


/* CHECKOUT PAGE */

.checkout {
    margin: 1em;
    font-size: 2em;
}

.checkout a:link {
    color: coral;
}

input[type=text] {
    height: 2.5em;
    border: 0;
    width: calc(100% - .1em);
    margin-left: .1em;
    box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

input[type=text]:focus {
    outline: none;
    box-shadow: -8px 10px 0px -7px #4EA6EA, 8px 10px 0px -7px #4EA6EA;
}

.checkout_info {
    width: 40vw;
    text-align: left;
    margin-bottom: 5vh;
}

.checkout_info p {
    font-family: 'Shrikhand', cursive;
    margin-top: 2em;
}

.checkout_info input[placeholder] {

    font-size: 1em;
    padding-left: 1em;
}

.citystatezip {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.citystatezip input[name=zip] {
    width: 20%;
}

.citystatezip input[name=city],
input[name=state] {
    width: 39.5%;
}

.total {
    width: 70%;
    padding-right: 5%;
}

.final_total {
    display: flex;
    align-items: center;
}

.quantity_input > input[type=text] {
    max-width: 5vw;
    text-align: right;
}