@import url('https://fonts.googleapis.com/css?family=Montserrat|Shrikhand');
@import 'https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext,latin-ext';
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: azure;
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    flex-flow: column nowrap; 
    color: midnightblue;
}

h1,
h2,
h5,
label {
    font-family: 'Shrikhand', cursive;
}

h1 {
    font-size: 7em;
    color: white;
    width: 80vw;
    
}

h2 {
    margin: 3rem 0 1rem 0;
    width: 90vw;
    color: midnightblue;
    font-size: 2em
}

h3 {
    font-size: 1.75em;
    color: #eb1777;
}

h4,
h5 {
    font-size: 1.5em;
    line-height: .75em;
}

h5 {
    color: #eb1777;
}

h4 {
    margin-top: 1rem;
}

h4 a:link,
a:visited {
    color: #eb1777;
}

h4 a:hover {
    color: purple;
}

a {
    text-decoration: none;
    color: #eb1777;
}

ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;
    justify-content: space-between;
    width: 40vw;
}


/* HEADER */

header {
    width: 100vw;
    margin-top: 5vh;
    align-self: center;
    margin-bottom:2vh;
    
}

nav {
    display: flex;
    width: 100vw;
    align-self: center;
    margin-bottom: 5vh;
}

.left {
    width: 20%;
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 2vw;
}
.home_icon {
    height: 10vh;
}
.center {
    width: 70vw;
}
.right {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: .8rem;
    margin-right: 2vw;
}
.cart_icon {
    height: 5vh;
    margin-bottom: 1rem;
}


/* BASIC PAGE STYLES */

.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: relative;
    background: cyan;
    height: 25vh;
}

.container::after {
    position: absolute;
    bottom: -50px;
    left: 0px;
    width: 100%;
    content: " ";
    background: radial-gradient(circle at 50% 0%, cyan 29%, darkturquoise 6%, azure 35%);
    background-color: azure;
    background-size: 5em 10em;
    height: 5em;
    background-repeat: repeat-x;
}

.content {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: center;
    align-self: center;
    margin: 0 5rem 5rem 5rem;
}

.crumbs {
    width: 90vw;
  
    text-align: left;
    margin-top: 10vh;
}


/* ALL ITEMS PAGE */

.item_display {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: space-around;
    text-align: center;
    width: 35vh;
    border-radius: 2em;
    background-color: azure;
    margin: 0;
    padding: 1rem;
}

.item_display img {
    height: 30vh;
    filter: drop-shadow(2px 3px 2px lightgrey);
}

.item_price {
    color: darkblue;
    align-self: center;
    font-size: 1.5rem;
    padding: 0;
    margin: 1rem 0 0 0;
}


/* PRODUCT PAGE */

.product_page {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 60vh;
}

.product_specs {
    display: flex;
    flex-flow: column nowrap;
    width: 40vw;
    align-items: center;
}
.product_price {
    margin: 1rem;
    font-size: 1rem;
    color: midnightblue;
}
.product_page img {
    height: 50vh;
}

.item_description {
    font-size: 1.3rem;
}

/* CART PAGE */

.cart{
    margin-top: 1rem;
}
.cart_page{
    width: 90vw; 
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.cart_header {
    font-size: 1.25em;
    line-height: 2em;
}

.empty{
    margin-top: 12vh;
    width: 90vw;
    text-align: right;
}

.shopping_cart {
    display: flex;
    flex-flow: column nowrap;
    width: 90vw;
}

.product_row {
    height: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.cart_form {
    display: flex;
    flex-flow: column nowrap;
}
.price{width:10vw;}
.flavor,
.quantity
{
    width: 20vw;
    text-align: left;
}
.quantity button {
    margin: .5rem;
    font-size: .6rem;
}
.quantity input[type=text]{
    width: 3vw;
    text-align: center;
}

.total {
    height: 15vh;
    padding-left: 20vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color:#eb1777;
    font-size: 1.5rem;
}
.final_total{
    justify-content: flex-end;
    color: #eb1777;
    font-size: 1.5rem;
}

.checkout {
    margin: 1em;
    font-size: 2em;
}

.checkout a:link {
    color: #eb1777;
}


/* CHECKOUT PAGE */

input[type=text] {
    height: 2.5em;
    border: 0;
    width: calc(100% - .1em);
    margin-left: .1em;
    box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}
    
.checkout_info {
    width: 40vw;
    text-align: left;
    margin-bottom: 5vh;
}

.checkout_info p {
    font-family: 'Shrikhand', cursive;
    margin-top: 2em;
}

.checkout_info input[placeholder] {
    font-size: 1em;
    padding-left: 1em;
}

.citystatezip {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.citystatezip input[name=zip] {
    width: 20%;
}

.citystatezip input[name=city],
input[name=state] {
    width: 39.5%;
}

.total {
    width: 70%;
    padding-right: 5%;
}

.final_total {
    display: flex;
    align-items: center;
}

.quantity_input > input[type=text] {
    max-width: 40vw;
    text-align: center;
}

/* BUTTONS */

button {font-size: .rem; background:transparent;border-width:2px;border-style: solid;position:relative;margin:2em;display:inline-block;padding:0.5em 1em;transition:all 0.3s ease-in-out;text-align:center;
font-family:comfortaa;font-weight:bold}
button:before, button:after {content:'';display:block;position:absolute;box-sizing:border-box;border-style:solid;width:1em;height:1em;transition:all 0.3s ease-in-out}
button:before {top:-6px;left:-6px;border-width:2px 0 0 2px;z-index:5;}
button:after {bottom:-6px;right:-6px;border-width:0 2px 2px 0;}
button:hover:before, button:hover:after {width:calc(100% + 12px);
  height:calc(100% + 12px);border-color:#fff}
.pink {text-align:center;}

button {color:#eb1777;border-color:#eb1777}
button:before, button:after  {border-color:#eb1777}
button:hover:before, button:hover:after {border-color:#eb1777;}
button:hover {color:#fff;background-color:#eb1777;border-color:#eb1777;}

.button_margin {margin: 5rem;}

.how_many select {
    border: none;
    border-bottom: 1px solid #eb1777;
    background: transparent;
    font-size: 2rem;
    color: midnightblue;
}

.how_many {
    display: flex;
    flex-flow: row;
    width 25vw;
}

.how_many h3 {
    font-size: 1rem;
}
.receipt {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.total {
    margin:0;
    padding: 0;
}

.summary {
    display: flex;
    flex-flow: row;
    width: 30vw;
    align-items: center; margin: 2rem;
}

.receipt ul{margin-bottom: 0;}
.summary {
    justify-content: flex-start;
    text-align: left;
}
.summary li:nth-child(2){
    padding-left: 1rem;
    width: 50%;
}
.summary li:nth-child(3){
    padding-right: 1rem;
    justify-content: flex-end;
    font-size: 2em;
}
.confirm {
    color: midnightblue;
    font-size: 1.2em;
    margin: 1rem;
}
.summary img {
    height: 15vh;
}
@media only screen and (max-width: 950px) {
    h1{font-size:3rem;}
    header{margin-top: 2vh;}
    .cart_icon {font-size:1rem;}
    .summary {width: 50vw;}
    .summary li:nth-child(3){font-size: 1.2em;
    }
}