    @import url('https://fonts.googleapis.com/css?family=Montserrat|Shrikhand');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/galveston.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    position: fixed;
}

body:after {
  content: '';
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background: radial-gradient(circle, transparent 60%, black 150%);
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 3.5em;
    line-height: 1;
    color: slategrey;
    border-bottom: 2px #1DB9FF solid;
    margin-bottom: .5em;
}

h2 {
    font-size: 1.5em;
    color: slategrey;
}

h3 {
    font-size: 2em;
}

header {
    width: 100vw;
    height: 25vh;
    position:absolute;
    text-align: left;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) -8%, rgba(0, 0, 0, 0) 100%);
}


ul {
  list-style: none;
  margin: 5vh 5vw;
  padding: 0;
}

li {
    display: inline-flex; 
}

nav{
    margin-top:10vh;
}

a {
    text-transform: uppercase;
    text-decoration: none;
}

nav li a {
  position: relative;
  padding: 1rem 0 0.5rem;
  margin: 0 1.5rem;
  color: white;
  text-decoration: none;
}

nav li a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%) scaleX(0);
          transform: translateX(-50%) scaleX(0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}
a:hover::after {
  -webkit-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
}

.container {
    position: fixed;
    background: rgba(255,255,255,.89);
    box-shadow: 2px 2px 24px 0 rgba(0,0,0,.1);
    padding: 2em 10em;
    height: 35vh;
    width: 50vw;
    top: 40vh;
    text-align: left;
    left: 0;
}

.content {
    width: 80vw;
    align-content: flex-start;
    position: absolute;
    top: 45vh;
}

.innerbox {
    bottom: 10;
    position: absolute;
    right: 0;
}

.button {
  position: relative;
  display: inline-flex;
  text-decoration: none;
    bottom: 0;
  color: #fff;
  background-color: #76abe9;
  padding-left: 2rem;
  overflow: hidden;
  z-index: 1;
  align-items: center;
  box-shadow: 0px 3px 4px -4px rgba(0, 0, 0, 0.75);
}
.button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  width: 100%;
  height: 100%;
  background-color: #4A90E2;
  z-index: -1;
  transition: -webkit-transform 750ms;
  transition: transform 750ms;
  transition: transform 750ms, -webkit-transform 750ms;
}
.button span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  padding: 1rem;
  overflow: hidden;
  background-color: #4A90E2;
}
.button svg {
  max-width: 20px;
  width: 100%;
  height: auto;
  max-height: 18px;
  fill: white;
}
.button:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.button:hover svg {
  -webkit-animation: moveArrow 750ms;
          animation: moveArrow 750ms;
}

@-webkit-keyframes moveArrow {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  49% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  50% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveArrow {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  49% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  50% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
.container.assigned  {
    height: 55vh;
    width: 75vw;
    top: 25vh;
    padding: 1rem  0 1rem 5rem;
}
.assignments ul {
    display: flex;
    flex-flow: column nowrap;
    margin: .5rem 2vw 0 .5rem;
    padding-bottom: .5rem;
    border-bottom: .25px solid slategrey;
    width: 15vw;
}

.assignments ul li:first-child{
    color: darkslategrey;
    margin-bottom: .5rem;
}

.assignments{
    display: flex;
    flex-flow: row wrap;   
}

 .assignments li a{
     font-size: .7rem;
     line-height: 1.75rem;
     font-size: .9rem;
     color: blue;
}
.assigned h1{
    width: 80vw;
    height: 15vh;
    border-bottom: none;
}

@media only screen and (max-width: 800px) {
    body {
        background-position: right;
    }
    nav {
        margin-top: 5vh;
    }
    
    li{
        font-size: 1em;
    }
    .container{
        height: 45vh;
        width: 70vw;
        padding: 3em;
        margin-top: -15vh;
    }
    .landing-message{
        width: 50vw;
    }
    .landing-message h1 {
        font-size: 4rem;
        border-bottom: .05em #1DB9FF solid;
        margin-bottom: .5em;
    }
    .landing-message h2 {
        font-size: 1.2em;
        margin-bottom: 1em;
    }
    .container.assigned {
        height: 70vh;
        padding-left: 3em;
        top: 35vh
    }
    .assigned h1 {
        font-size: 2rem;
        margin: 1rem 0;
        height: 2rem;
    }
    
    .assigned li a{
        font-size: .8em;
    }
    
    .assigned ul {
        width: 30vw
    }

   
}

@media only screen and (max-width: 550px) {
    .container{
        height: 45vh;
        width: 65vw;
        top: 45vh;
        padding: 1em 2em 1em 2em;
    }
    .landing-message {
        padding: 1em;
        width: 60vw;
    }
    .landing-message h1 {
        font-size: 2.5rem;
    }
    .landing-message h2 {
        font-size: 1em;
    }
    .container.assigned {
        width: 80vw;
        height: 70vh;
        top: 30vh;
        padding: 1em 0 1em 2em
    }
    .assignments{
        margin: 0;
        width: 80vw; 
        display: flex;
        flex-flow: row wrap;
    }
    .assignments li a{
        padding: 0;
        font-size: .7rem;
    }
    .assignments ul{
        margin-left:0;
    }
  
    .assignments li a{
      font-size: .8rem;
        line-height: 1.2rem;
    }
}
@media only screen and (max-height: 425px) {
    .landing-message h2{
        font-size: 1.2em;
        margin: 0 0 1rem 1rem;
    }
    .landing-message h1 {
        margin: 1rem;
        font-size: 2.5rem;
        width: 75vw;
    }
    .container {
        flex-flow: row;
        padding: 1rem;   
        width: 80vw;
        height: 45vh;
        top: 45vh;
    }
    .assignments h1{
        width: 80vw;
        font-size: 1.5rem;
        height: 5vh;
    }
    .container.assigned{
        height: 60vh;
        width: 80vw;
        top: 40vh;
        padding: 1rem 2rem 1rem 2rem;
    }
    .assignments{
        margin: 0;
        width: 80vw; 
    }
    .assignments ul{
        width:20vw;
        font-size: .8rem;
        margin: .5rem 0 .5rem;
    }
     .assignments li a{
         font-size: .8rem;
         line-height: 1.3rem;
    }         
}

@media only screen and (min-device-width: 812px) and (max-device-height: 375px) and (-webkit-device-pixel-ratio: 3) and (orientation : landscape)  {
    .container .assigned{
        top: 30vh;
        height: 55vh;
    }
}