    @import url('https://fonts.googleapis.com/css?family=Montserrat|Shrikhand');

* {
    margin: 0;
    padding: 0;
    }

body {
    background-image: url(images/galveston.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    position: absolute;
}
body:after {
  content: '';
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background: radial-gradient(circle, transparent 60%, black 150%);
}

h1
{
    font-family: 'Shrikhand', cursive;
    font-size: 3.5em;
    line-height: 1;
    color: slategrey;
    border-bottom: 2px #1DB9FF solid;
}

h2 {
    font-size: 1.5em;
    color: slategrey;
}

h3 {
    font-size: 2em;
}

header {
    width: 100vw;
    height: 25vh;
    position:absolute;
    text-align: left;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) -8%, rgba(0, 0, 0, 0) 100%);
}


ul {
  list-style: none;
  margin: 5vh 5vw;
  padding: 0;
}

li {
  display: inline-flex;
}

nav{
    margin-top:10vh;
}

a {
    text-transform: uppercase;
}

li a {
  position: relative;
  padding: 1rem 0 0.5rem;
  margin: 0 1.5rem;
  color: white;
  text-decoration: none;
}

li a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%) scaleX(0);
          transform: translateX(-50%) scaleX(0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}
a:hover::after {
  -webkit-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
}


.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: fixed;
    background: rgba(255,255,255,.89);
    box-shadow: 2px 2px 24px 0 rgba(0,0,0,.1);
    padding: 1em 10em;
    height: 35vh;
    width: 50vw;
    top: 40vh;
    text-align: left;
    left: 0;
}

.content {
    width: 80vw;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: center;
    align-self: center;
    position: absolute;
    top: 45vh;
}

.innerbox {
    bottom: 0;
    position: absolute;
    right: 0;
}

.button {
  position: relative;
  display: inline-flex;
  text-decoration: none;
  color: #fff;
  background-color: #76abe9;
  padding-left: 2rem;
  overflow: hidden;
  z-index: 1;
  align-items: center;
  box-shadow: 0px 3px 4px -4px rgba(0, 0, 0, 0.75);
}
.button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  width: 100%;
  height: 100%;
  background-color: #4A90E2;
  z-index: -1;
  transition: -webkit-transform 750ms;
  transition: transform 750ms;
  transition: transform 750ms, -webkit-transform 750ms;
}
.button span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  padding: 1rem;
  overflow: hidden;
  background-color: #4A90E2;
}
.button svg {
  max-width: 20px;
  width: 100%;
  height: auto;
  max-height: 18px;
  fill: white;
}
.button:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.button:hover svg {
  -webkit-animation: moveArrow 750ms;
          animation: moveArrow 750ms;
}

@-webkit-keyframes moveArrow {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  49% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  50% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveArrow {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  49% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  50% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

#assigned a {
    color: blue;
}

#assigned ul {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    line-height: 1;
}
.first_li a {
    color: darkslateblue;
}
@media only screen and (max-width: 425px) {
    body {
        background-position: right;
    }
    nav {
        margin-top: 5vh;
    }
    
    li{
        font-size: 1em;
    }
    .container{
        height: 50vh;
        width: 66vw;
        padding: 2em;
        margin-top: -15vh;
    }
    .landing-message h1 {
        font-size: 3em;
        border-bottom: .05em #1DB9FF solid;
        margin-bottom: .5em;
    }
    .landing-message h2 {
        font-size: 1em;
        margin-bottom: 1em;
    }
    .assignments{
        font-size: 140%;
    }
}

@media only screen and (max-height: 425px) {
    .landing-message{
        font-size: 80%;
    }
    
    .landing-message h1 {
        margin-bottom: .25em;
    }
    
    .container {
        flex-flow: row;
        padding: 1em;   
        width: 80vw;
    }
    
    #assigned {
        flex-flow: column;
        padding: 0 2em;
    }
}