    @import url('https://fonts.googleapis.com/css?family=Montserrat|Shrikhand');

* {
    margin: 0;
    padding: 0;
    }

body {
    background-image: url(images/galveston.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-flow: column nowrap;
}

h1
{
    font-family: 'Shrikhand', cursive;
    font-size: 3.5em;
    line-height: 1;
    color: darkcyan;
}

h2 {
    font-size: 1.5em;
    color: darkcyan;
}

h3 {
    font-size: 2em;
}

a {
    text-decoration: none;
}

nav {
    margin-top: 5vh;
}

nav a {
    color: white;
}

ul {
    display: inline-flex;
}

nav li a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%) scaleX(0);
          transform: translateX(-50%) scaleX(0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  width: 100%;
  height: 1px;
  background-color: hotpink;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}
div a:hover::after {
  -webkit-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
}

header {
    width: 100vw;
    height: 20vh;
    position:absolute;
    text-align: left;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) -10%, rgba(0, 0, 0, 0) 100%);

}

header a {
    margin-left: 10vw;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: absolute;
    background: rgba(255,255,255,.89);
    box-shadow: 2px 2px 24px 0 rgba(0,0,0,.1);
    padding: 1em 6em 1em 4em;
    height: 35vh;
    width: 60vw;
    top: 40vh;
    text-align: left
}

.content {
    width: 80vw;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: center;
    align-self: center;
}

.homebox {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ededed;
  font-family: 'Droid Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.button {
  position: relative;
  display: inline-flex;
  text-decoration: none;
  color: #fff;
  background-color: #76abe9;
  padding-left: 2rem;
  overflow: hidden;
  z-index: 1;
  align-items: center;
  box-shadow: 0px 3px 4px -4px rgba(0, 0, 0, 0.75);
}
.button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  width: 100%;
  height: 100%;
  background-color: #4A90E2;
  z-index: -1;
  transition: -webkit-transform 750ms;
  transition: transform 750ms;
  transition: transform 750ms, -webkit-transform 750ms;
}
.button span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  padding: 1rem;
  overflow: hidden;
  background-color: #4A90E2;
}
.button svg {
  max-width: 20px;
  width: 100%;
  height: auto;
  max-height: 18px;
  fill: white;
}
.button:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.button:hover svg {
  -webkit-animation: moveArrow 750ms;
          animation: moveArrow 750ms;
}

@-webkit-keyframes moveArrow {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  49% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  50% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveArrow {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  49% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  50% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
